html{
    background-color: #404040;
    color: white;
}
.donutBtn{
    background-image: url(images\pexels-amanda-hemphill-7440364.jpg);
    padding: 1em;
    background-size: 500px;
    border-radius: 50%;
    height: 500px;
    width: 500px;

}
